body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: #333;
}

header {
    padding: 10px 0;
}

nav ul {
    list-style-type: none;

    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.button {
    display: inline;

    text-decoration: none;
    background-color: white;
    color: blue;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #333;


}

main {
    display: inline;
    align-items: center;
    height: 100%;
}

.home{
    height: 1300px;
}

img {
    height: 8%;
    width: 100%;
}

footer {
    display: inline;

}
footer section{
    background-color: #333;
    margin-top: 80px;

    padding-top: 20px;

    height: 160px;
    width: 100%;
}
footer section p{
    text-align: center;
    color: white;

}